<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="max-width: 1000px; margin: 0 auto;">
     <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://media.istockphoto.com/id/1018141890/photo/two-empty-wine-glasses-sitting-in-a-restaurant-on-a-warm-sunny-afternoon.jpg?s=612x612&w=0&k=20&c=OccJv1oKWSTDqJ6Irw7iW1NEbL0muU2ylqP3EOhOyEg=" class="d-block w-100" alt="food">
        </div>
        <div class="carousel-item">
            <img src="https://media.istockphoto.com/id/1178591496/photo/view-through-the-window-of-staff-and-customers-inside-buns-and-buns-restaurant-in-covent.jpg?s=612x612&w=0&k=20&c=cb7tKh_cgCx1urxBdQWq6lCc6Oc_XcMCxdgkRaTNgsc=" class="d-block w-100" alt="food">
        </div>
        <div class="carousel-item">
            <img src="https://media.istockphoto.com/id/643847438/photo/restaurant-chilling-out-classy-lifestyle-reserved-concept.jpg?s=612x612&w=0&k=20&c=Rjw88cVSVaEIlCqBOizOGpqxp0kcYdoDRLwfv5Cn6Sw=" class="d-block w-100" alt="food">
        </div>
        <div class="carousel-item">
            <img src="https://media.istockphoto.com/id/1160577908/photo/two-meat-plate-with-salad-leaves-and-summer-salad-in-waiters-hand.jpg?s=612x612&w=0&k=20&c=oEkvTjNVSBSwXiFoQnEPh1yGIKFwGws-TeJbRN82Ag4=" class="d-block w-100" alt="food">
        </div>
        <div class="carousel-item">
            <img src="https://media.istockphoto.com/id/502840530/photo/luxury-restaurant-table-on-sunset.jpg?s=612x612&w=0&k=20&c=KMVfVojQ0UmscMmj1S-Hd2trPlw2xEXpOyn9OyWT0Mw=" class="d-block w-100" alt="food">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

