<footer class="border-top footer text-muted bg-light py-3">
    <div class="footer">
        <div class="row">
            <div class="col-md-4">
                <h3>Opening Times</h3>
                <p>
                    Mon—Thu: 08:00 — 22:00<br />
                    Fri—Sat: 09:00 — 23:00<br />
                    Sun: 10:00 — 17:00
                </p>
            </div>
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <p>
                    <div class="contact-address"><span><i class="fa fa-home"></i></span>Aksakov str. № 65, Sofia Center</div>
                    <div class="contact-phone"><span><i class="fa fa-phone"></i></span>+359 888 130 761</div>
                    <div class="contact-email"><span><i class="fa fa-envelope"></i></span><a href="mailto:restaurant@gmail.com">restaurant@gmail.com</a></div>
                </p>
            </div>
            <div class="col-md-4">
                <h3>Follow Us</h3>
                <a class="ow-button-hover sow-social-media-button-facebook sow-social-media-button" title="Restaurant on Facebook" target="_blank" href="https://www.facebook.com/">
                    <span class="fab fa-facebook-square"></span>
                </a>
                <a class="ow-button-hover sow-social-media-button-instagram sow-social-media-button" title="Restaurant on Instagram" target="_blank" href="https://www.instagram.com/">
                    <span class="fab fa-instagram"></span>
                    </a>
            </div>
        </div>
    </div>
</footer>


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/OppeningTimeFooter.css" />
